<div id="wait">
{{ section.settings.copy }}
</div>

{% schema %}
  {
    "name": "wait",
    "settings": [
      {
        "id": "copy",
        "type": "text",
        "label": "Copy",
        "default": "Made to order—two weeks"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}